session:
    autoStart: false

application:
	mapping:
		*: CKEditor\Tests\*Presenter

routing:
    routes:
            index.php: Test:default
            '<presenter>/<action>[/<id>]': Test:default

ckeditor:
    ckeditor_path: js/ckeditor


extensions:
	ckeditor: \CKEditor\DI\CKEditorExtension